WCF/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PlanNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanNumberResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JianNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JianNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JianNumberResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChengNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChengNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChengNumberResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChuNummber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChuNummberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChuNummberResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>